body {
    overflow: hidden;
}

.square {
    position: absolute;
    background-color: red;
    opacity: 70%;
    border: solid 1px;
}

.triangle {
    position: absolute;
    border-bottom: solid blue 1px;
    opacity: 70%;
    border-left: solid transparent 1px;
    border-right: solid transparent 1px;
}

.circle {
    position: absolute;
    border-radius: 100%;
    background-color: green;
    opacity: 70%;
    border: solid 1px;
}